/* Body */
a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

body {
  background-color: #e9d8a6;
  font-family: 'Space Mono', monospace;
  color: #001219
}

h1, p {
  margin-top: 0px;
  margin-bottom: 3px;
  margin-left: 3px;
  margin-right: 3px;
  padding: 0;
}

input[type="text"], input[type="search"], input[type="date"] {
  font-family: 'Space Mono', monospace;
  border: 1px solid #001219;
}

main {
  display: flex;
  justify-content: center;
}

main div {
  width: 100%;
}

/* Nav */

nav {
  background-color: #005f73;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  width: 100vw;
}

nav a {
  color: #ee9b00;
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
}

/* Home */

.home-links {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  margin-left: 6px;
}

.title {
  background-image: url(./images/performance.png);
  background-size: cover;
}

.title h1 {
  text-shadow: 0px 0px 5px white;
}

/* Post Gig */

.post-form {
  width: 75vw;
  height: 350px;
  max-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15vh;
  border: 3px solid #ca6702;
}

.post-form form {
  display: flex;
  flex-flow: column nowrap;
  width: 70vw;
  max-width: 250px;
}

.post-form form button {
  height: 35px;
  width: 35px;
  margin-top: 10px ;
  border: 1px solid #001219;
  background-color: #0a9396;
}

/* Show Gig */

.map {
  height: 40vh;
  width: 100%;
  background-color: #ae2012;
  position: sticky;
  top: 0;
}

/* Search */

.search-form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
  width: 300px;
}

.search-form form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
}

.search-form form button {
  height: 35px;
  width: 35px;
  margin-left: 10px;
  border: 1px solid #001219;
  background-color: #0a9396;
}

.search-form form input {
  height: 35px;
  width: 100%;
}

.search-form p {
  align-self: start;
}

/* Gig */

.gig {
  border: 3px solid #ca6702;
  height: 300px;
  width: 50vw;
  min-width: 300px;
  padding-left: 10px;
  margin: 10px auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.gig h5, .gig button {
  margin-top: 0;
}

.gig button {
  width: fit-content;
}

.gig button {
  background-color: #0a9396;
  color: #001219;
  font-family: 'Space Mono', monospace;
  border: 1px solid #001219;
  
}


/* MEDIA QUERY */

@media screen and (min-width: 575px) {
  
  /* Nav */

  nav {
    flex-flow: row nowrap;
  }

  #link-home {
    order: 0;
  }

  /* Home */

  .title {
    height: 30vh;
    display: flex;
    align-items: flex-end;
  }

  /* Post Gig */

  .post-form {
    margin-top: 20vh;
  }

}