/* Body */
a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

body {
  background-color: #e9d8a6;
  font-family: 'Space Mono', monospace;
  color: #001219
}

h1 {
  margin: 0;
  padding: 0;

}

input[type="text"], input[type="search"], input[type="date"] {
  font-family: 'Space Mono', monospace;
  border: 1px solid #001219;
}

main {
  display: flex;
  justify-content: center;
}

/* Nav */

nav {
  background-color: #005f73;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  width: 100vw;
}

nav a {
  color: #ee9b00;
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
}

/* Home */

.title {
  background-image: url(./images/performance.png);
  background-size: cover;
}

.title h1 {
  text-shadow: white;
}

/* Post Gig */

.post-form {
  width: 75vw;
  height: 350px;
  max-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15vh;
  border: 3px solid #ca6702;
}

.post-form form {
  display: flex;
  flex-flow: column nowrap;
}

.post-form form button {
  height: 35px;
  width: 35px;
  margin-top: 10px;
  border: 1px solid #001219;
  background-color: #0a9396;
}

/* Show Gig */

/* Search */

.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.search-form form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-form form button {
  height: 35px;
  width: 35px;
  margin-left: 10px;
  border: 1px solid #001219;
  background-color: #0a9396;
}

.search-form form input {
  height: 35px;
}

/* Gig */

.gig {
  border: 3px solid #ca6702;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}


/* MEDIA QUERY */

@media screen and (min-width: 575px) {
  /* Nav */

  nav {
    flex-flow: row nowrap;
  }

  #link-home {
    order: 0;
  }

  /* Home */

  .title {
    height: 30vh;
  }

  .title h1 {
  }
}